.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  text-align: center;
}

.show-card {
  background: #F3BAED;
  padding: 1rem;
  margin-top: 2rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.show-card__details {
  list-style: none;
  margin-right: 10%;
}
